# Ignore node_modules for both client and server
client/vite-project/node_modules/
node_modules

# Ignore build/output directories
client/vite-project/dist/
server/dist/

# Ignore logs
*.log
logs/

# Ignore environment variables
.env

# Ignore system files
.DS_Store
Thumbs.db
